{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static 'sigesp/style.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'sigesp/style.css' %}"/>
    <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <title>Sigesp</title>
</head>
<style>
  .row-margin-05 { margin-top: 0.5em; }
  .row-margin-10 { margin-top: 1.0em; }
  .row-margin-20 { margin-top: 2.0em; }
  .row-margin-30 { margin-top: 3.0em; }
  .row-margin-40 { margin-top: 4.0em; }

  .footer {
    background-color: #767676;
    min-height: 60px;
}

  </style>
<body>
        <!--NAV BAR-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              
                <a href="{% url 'home' %}" class="navbar-brand">Sigesp</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                > 
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'index' %}">Proyectos</a>
                    {% ifequal user.groups.all.0.name "TestManager" %}
                      <a class="nav-item nav-link" href="{% url 'register' %}">Registrar usuario</a>
                    {% endifequal %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Perfil</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        
                    {% else %}
                      <a class="nav-item nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %}
                  </div>
                </div>
             
            </nav>
          </header>
          <!--NAV BAR-->

          {% include 'mensajes.html' %}

  {% if form.errors %}
    <div class="alert alert-error">
      <h4>Revisa lo siguiente:</h4>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}

    
    {% block body%}

    {% endblock %}
      <footer class="text-center fixed-bottom bg-light text-dark">
        <p>Trabajo Terminal 2020-A051</p>
      </footer>

      <!-- <footer class="text-center text-white fixed-bottom bg-dark">
        <div class="row">

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5>Instituto Politécnico Nacional</h5>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5>Escuela Superior de computo</h5>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5>Trabajo Terminal 2020-A051</h5>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5>Año {%now "Y"%} </h5>
          </div>
        </div>
      </footer> -->




</body>


<script>
function goBack() {
  window.history.back();
}
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>