{% extends 'base.html' %}

{% block body%}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bienvenido</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ user.username }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'index' %}" class="btn btn-dark btn-lg px-4 me-sm-3">Ir a proyectos</a>
      </div>
    </div>
  </div>

{% endblock %}
