{% extends 'base.html' %}

{% block body%}

<div class="px-4 py-1 my-5 text-center">
  <h2>
    SISTEMA GESTOR DE PRUEBAS DE SOFTWARE PARA EL ASEGURAMIENTO DE LA CALIDAD
  </h2>
  <h3>(SIGESP)</h3>
  </div>

<!-- Carrusel -->
<div id="micarrusel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#micarrusel" data-slide-to="0" class="active"></li>
    <li data-target="#micarrusel" data-slide-to="1"></li>
    <li data-target="#micarrusel" data-slide-to="2"></li>
    <li data-target="#micarrusel" data-slide-to="3"></li>
    <li data-target="#micarrusel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <h3>GESTIONA</h3>
        <p>Gestiona el proceso de proceso de pruebas de funcionalidad de tus proyectos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>CREA</h3>
        <p>Crea guiones de pruebas utilizando técnicas de diseño tales como "Partición en clases de equivalencia" y "diseño basado en casos de uso".</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>AGRUPA</h3>
        <p>Agrupa los guiones de prueba creados en suites de prueba.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>REGISTRA RESULTADOS</h3>
        <p>Registra los resultados que obtengas después de correr las pruebas.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h3>INFORMA</h3>
        <p>Crea informes de avance de pruebas e informes de errores encontrados.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#micarrusel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#micarrusel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- END Carrusel -->

{% endblock %}
