{% extends 'base.html' %}
{%load crispy_forms_tags %}
{% block body%}

<div class="container">
    <div class="px-4 py-1 my-5 text-center">
        <h1 class="display-5 fw-bold">CREAR MÓDULO</h1>
    </div>
    <div class = "row">
        <div class = "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Crear Módulo
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {%for field in form%}
                            <div class="form-group">
                                {{ field.name}}
                            </br>
                                {{ field }}
                            </div>
                        {% endfor %} -->
                        {{ form|crispy }}
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                    <button type="submit" class="btn btn-dark btn-lg px-4 me-sm-3">Crear</button>
                                </div>
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                    <a href="{% url 'modulos' proyecto.id %}" class="btn btn-dark btn-sm">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div> 
    <div class="container-fluid row-margin-40"></div>
</div>  

{% endblock %}


