{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
				<!-- breadcrumb -->
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a class="text-primary" href="{% url 'index' %}">Proyectos</a></li>
				  <li class="breadcrumb-item active" aria-current="page">{{proyecto.nombre}}</li>
				</ol>
			  </nav>
			  <!-- END breadcrumb -->
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		{% ifequal user.groups.all.0.name "TestManager" %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Gestión de Proyectos</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'actualizar' proyecto.id %}">Editar</a>
				<a class="dropdown-item" href="{% url 'borrar' proyecto.id %}">Eliminar</a>
			</div>
		</li>
		{% endifequal %}
		<li class="nav-item">
			<a href="{% url 'modulos' proyecto.id %}" class="nav-link">Módulos</a>
		</li>
    </ul>
    </div>
  </nav>

<div class="container-fluid">
	<div class="page-header row-margin-10">
        <h1>Proyecto: {{proyecto.nombre}}</h1>      
      </div>

	  <div class="table-responsive table-responsive-data2 row-margin-20">
        <table class="table table-data2">
            <thead class="thead-light">
                <tr>
					<th scope="col">Aspecto</th>
					<th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
				<tr>
					<th scope="row">Estatus</th>
					<td>
						{{proyecto.status}}
					</td>
				</tr>
				<tr>
					<th scope="row">Fecha de creación</th>
					<td>
						{{proyecto.fecha}}
					</td>
				</tr>
				<tr>
					<th scope="row">Creado por</th>
					<td>
						{{ proyecto.usuario }}
					</td>
				</tr>
				<tr>
					<th scope="row">Descripcción</th>
					<td>
						{{proyecto.descripcion}}
					</td>
				</tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
<!-- <div class="col-md-2">
	{% ifequal user.groups.all.0.name "TestManager" %}
	<div class="dropdown">
		<button class="btn btn-dark btn-block dropdown-toggle" type="button" id="Options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Gestión de Proyectos
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="Options">
		  <a class="dropdown-item" href="{% url 'actualizar' proyecto.id %}">Editar</a>
		  <a class="dropdown-item" href="{% url 'borrar' proyecto.id %}">Eliminar</a>
		</div>
	  </div>
	{% endifequal %}
		<a href="{% url 'modulos' proyecto.id %}" class="btn btn-dark btn-sm px-4 me-sm-3 btn-block">Módulos</a> -->
	<!-- <div class="btn-toolbar" role="group">
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		{% ifequal user.groups.all.0.name "TestManager" %}
			<div class="btn-group mr-2" role="group" aria-label="Boton1">
				<a href="{% url 'actualizar' proyecto.id %}" class="btn btn-dark btn-sm">Editar</a>
			</div>
		{% endifequal %}
		{% ifequal user.groups.all.0.name "TestManager" %}
			<div class="btn-group mr-2" role="group" aria-label="Boton2">
				<a href="{% url 'borrar' proyecto.id %}" class="btn btn-dark btn-sm">Eliminar</a>
			</div>
		{% endifequal %}
			<div class="btn-group mr-2" role="group" aria-label="Boton3">
				<a href="{% url 'modulos' proyecto.id %}" class="btn btn-dark btn-sm">Módulos</a>
			</div>
		
		</div>
	</div> -->
</div>


