{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{modulo.nombre}}
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		{% ifequal user.groups.all.0.name "TestManager" %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Gestión de Módulos</a>
			<div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'actualizar_modulo' modulo.id %}">Editar</a>
                <a class="dropdown-item" href="{% url 'borrar_modulo' modulo.id %}">Eliminar</a>
			</div>
		</li>
		{% endifequal %}
        <li class="nav-item dropdown dropleft">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Opciones</a>
			<div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'guiones' modulo.id %}">Guiones</a>
                <a class="dropdown-item" href="{% url 'index_suites' modulo.id %}">Suites</a>
                <a class="dropdown-item" href="{%url 'reportes_index' modulo.id%}">Reportes</a>
			</div>
		</li>
    </ul>
    </div>
  </nav>


<div class="container-fluid">
  <div class="page-header row-margin-10">
    <h1>Módulo: {{modulo.nombre}}</h1>      
  </div>
  <div class="table-responsive table-responsive-data2 row-margin-20">
    <table class="table table-data2">
        <thead class="thead-light">
            <tr>
      <th scope="col">Aspecto</th>
      <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
    <tr>
      <th scope="row">Estatus</th>
      <td>
        {{modulo.status}}
      </td>
    </tr>
    <tr>
      <th scope="row">Descripcción</th>
      <td>
        {{modulo.descripcion}}
      </td>
    </tr>
        </tbody>
    </table>
</div>
    <div class="container-fluid row-margin-20"></div>
</div>

{% endblock %}

<div class="col-md-2">
    {% ifequal user.groups.all.0.name "TestManager" %}
    <div class="dropdown">
        <button class="btn btn-dark btn-sm px-4 me-sm-3 btn-block dropdown-toggle" type="button" id="Options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Gestión de Módulos
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Options">
          <a class="dropdown-item" href="{% url 'actualizar_modulo' modulo.id %}">Editar</a>
          <a class="dropdown-item" href="{% url 'borrar_modulo' modulo.id %}">Eliminar</a>
        </div>
      </div>
    {% endifequal %}
    <div class="dropdown">
        <button class="btn btn-dark btn-sm px-4 me-sm-3 btn-block dropdown-toggle" type="button" id="Options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Opciones
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Options">
          <a class="dropdown-item" href="{% url 'guiones' modulo.id %}">Guiones</a>
          <a class="dropdown-item" href="{% url 'index_suites' modulo.id %}">Suites</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{%url 'reportes_index' modulo.id%}">Reportes</a>
        </div>
      </div>
    <!-- <div class="btn-group-vertical" role="toolbar" aria-label="Toolbar with button groups">
        {% ifequal user.groups.all.0.name "TestManager" %}
        <div class="btn-group mr-2" role="group" aria-label="Botones_Gestión">
            <a href="{% url 'actualizar_modulo' modulo.id %}" class="btn btn-dark btn-sm">Editar</a>
            <a href="{% url 'borrar_modulo' modulo.id %}" class="btn btn-dark btn-sm">Eliminar</a>
        </div>
        {% endifequal %}

        <div class="btn-group mr-2" role="group" aria-label="Boton3">
            <a href="#" class="btn btn-dark btn-sm">Reportes</a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Boton4">
            <a href="{% url 'guiones' modulo.id %}" class="btn btn-dark btn-sm">Guiones</a>
            <a href="{% url 'index_suites' modulo.id %}" class="btn btn-dark btn-sm">Suites</a>
        </div>
    </div> -->
</div>