{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Proyectos</li>
                </ol>
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% ifequal user.groups.all.0.name "TestManager" %}
        <li class="nav-item">
                <a href="{% url 'crear' %}" class="nav-link">Crear Proyecto</a>
                <!-- <ul><a href="#" title="Instrucciones" data-toggle="popover" data-placement="right" data-content="Seleccione esta opción si desea agregar un proyecto nuevo">
                    <img src={% static 'sigesp/duda.png' url%} height=40  class="d-inline-block alighn-top"/>
                </a></ul> -->
        </li>
        {% endifequal %}
    </ul>
    </div>
  </nav>

<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>PROYECTOS</h1>      
      </div>
<!-- Search Code -->
<div class="row">
    <div class="col-md-9">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input type="search" name="item_name" placeholder="Buscar proyecto" class="form-control form-control-borderless">
                </div>
                <div class="col-auto">
                    <!-- <ul class="list-inline"> -->
                    <button class="btn btn-dark" type="submit">Buscar</button>
                    <!-- <ul><a href="#" title="Instrucciones" data-toggle="popover" data-placement="right" data-content="Ingrese el nombre del proyecto que desea buscar o parte de el">
                        <img src={% static 'sigesp/duda.png' url%} height=40  class="d-inline-block alighn-top"/>
                    </a></ul> -->
                </div>
            </div>
        </form>
    </div>
</div>
<!--END Search Code -->



<!-- Proyecto Objects -->
<!-- {% for proyecto in proyect_objects %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-6" onclick="window.location='{% url 'detalle' proyecto.id%}';" style="cursor: pointer;">
                <h1>{{proyecto.nombre}}</h1>
                <h5><i><b>{{proyecto.status}}</b></i></h5>

            </div>
        </div>
    </div>

{% endfor %} -->
<div class="col-md-12 row-margin-20">
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Proyecto</th>
                    <th>Estado</th>
                    <th>Fecha creación</th>
                    <th>Creado Por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyect_objects %}
                {% if proyecto.status == "Finalizado" %}
                <tr class="table-success">
                    <td>
                        {{proyecto.nombre }}
                    </td>
                    <td>
                        {{proyecto.status}}
                    </td>
                    <td>
                        {{proyecto.fecha}}
                    </td>
                    <td>
                        {{ proyecto.usuario }}
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a data-toggle="tooltip" href="{% url 'detalle' proyecto.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'modulos' proyecto.id %}" title="Ir a módulos"> <img src={% static 'open-iconic/png/layers-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            {% ifequal user.groups.all.0.name "TestManager" %}
                            <a data-toggle="tooltip" href="{% url 'actualizar' proyecto.id %}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'borrar' proyecto.id %}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            {% endifequal %}
                        </div>
                    </td>
                </tr>
                {% elif proyecto.status == "En progreso" %}
                <tr class="table-info">
                    <td>
                        {{proyecto.nombre }}
                    </td>
                    <td>
                        {{proyecto.status}}
                    </td>
                    <td>
                        {{proyecto.fecha}}
                    </td>
                    <td>
                        {{ proyecto.usuario }}
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a data-toggle="tooltip" href="{% url 'detalle' proyecto.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'modulos' proyecto.id %}" title="Ir a módulos"> <img src={% static 'open-iconic/png/layers-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            {% ifequal user.groups.all.0.name "TestManager" %}
                            <a data-toggle="tooltip" href="{% url 'actualizar' proyecto.id %}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'borrar' proyecto.id %}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            {% endifequal %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<!-- END Proyecto Objects -->

        <!-- Pagination -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <nav class="pagination-sm">
                        <ul class="pagination">
                            {% if proyect_objects.has_previous %}
                            <li class="page-item">
                                <a class="btn btn-sm btn-dark" href="?page={{ proyect_objects.previous_page_number }}">Anterior</a>
                            </li>
                            {% endif %}
                            <li class="page-item active">
                                <a class="btn btn-sm btn-dark" href="?page={{ proyect_objects.number }}" style="pointer-events: none">Pagina Actual</a>
                            </li>
                            {% if proyect_objects.has_next %}
                            <li class="page-item">
                                <a class="btn btn-sm btn-dark" href="?page={{ proyect_objects.next_page_number }}">Siguiente</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- END Pagination -->
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>

{% endblock %}

