{% extends 'base.html' %}
# {% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Módulos
                    </li>
                </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% ifequal user.groups.all.0.name "TestManager" %}
        <li class="nav-item">
            <a href="{% url 'crear_modulo' proyecto.id %}" class="nav-link">Crear Módulo</a>
                <!-- <ul><a href="#" title="Instrucciones" data-toggle="popover" data-placement="right" data-content="Seleccione esta opción si desea agregar un proyecto nuevo">
                    <img src={% static 'sigesp/duda.png' url%} height=40  class="d-inline-block alighn-top"/>
                </a></ul> -->
        </li>
        {% endifequal %}
    </ul>
    </div>
  </nav>


<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>MÓDULOS</h1>      
      </div>

<!-- Search Code -->
<div class="row">
    <div class="col-md-9">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                <input type="search" name="modul_name" placeholder="Buscar Módulo" class="form-control form-control-borderless">
                </div>
                <div class="col-auto">
                    <!-- <ul class="list-inline"> -->
                    <button class="btn btn-dark" type="submit">Buscar</button>
                    <!-- <ul><a href="#" title="Instrucciones" data-toggle="popover" data-placement="right" data-content="Ingrese el nombre del módulo que desea buscar o parte de el">
                        <img src={% static 'sigesp/duda.png' url%} height=40  class="d-inline-block alighn-top"/>
                    </a></ul> -->
                </div>
            </div>
        </form>
    </div>

</div> 
<!--END Search Code -->
<div class="col-md-12 row-margin-20">
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre módulo</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for modulo in modul_objects %}
                {% if modulo.status == "Finalizado" %}
                <tr class="table-success">
                    <td>
                        {{modulo.nombre }}
                    </td>
                    <td>
                        {{modulo.status}}
                    </td>
                    <td>
                            <a data-toggle="tooltip" href="{% url 'modulo_detalle' modulo.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20 /></a>
                            <a data-toggle="tooltip" href="{% url 'guiones' modulo.id %}" title="Ir a guiones"> <img src={% static 'open-iconic/png/script-4x.png' url%} height=20  /></a>
                            <a data-toggle="tooltip" href="{% url 'index_suites' modulo.id %}" title="Ir a suites de pruebas"> <img src={% static 'open-iconic/png/list-rich-4x.png' url%} height=20  /></a>
                            <a data-toggle="tooltip" href="{%url 'reportes_index' modulo.id%}" title="Ir a reportes de pruebas"> <img src={% static 'open-iconic/png/spreadsheet-4x.png' url%} height=20  /></a>
                            {% ifequal user.groups.all.0.name "TestManager" %}
                            <a data-toggle="tooltip" href="{% url 'actualizar_modulo' modulo.id %}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  /></a>
                            <a data-toggle="tooltip" href="{% url 'borrar_modulo' modulo.id %}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  /></a>
                            {% endifequal %}
                    </td>
                </tr>
                {% elif modulo.status == "En progreso" %}
                <tr class="table-info">
                    <td>
                        {{modulo.nombre }}
                    </td>
                    <td>
                        {{modulo.status}}
                    </td>
                    <td>
                            <a data-toggle="tooltip" href="{% url 'modulo_detalle' modulo.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20 /></a>
                            <a data-toggle="tooltip" href="{% url 'guiones' modulo.id %}" title="Ir a guiones"> <img src={% static 'open-iconic/png/script-4x.png' url%} height=20  /></a>
                            <a data-toggle="tooltip" href="{% url 'index_suites' modulo.id %}" title="Ir a suites de pruebas"> <img src={% static 'open-iconic/png/list-rich-4x.png' url%} height=20  /></a>
                            <a data-toggle="tooltip" href="{%url 'reportes_index' modulo.id%}" title="Ir a reportes de pruebas"> <img src={% static 'open-iconic/png/spreadsheet-4x.png' url%} height=20  /></a>
                            {% ifequal user.groups.all.0.name "TestManager" %}
                            <a data-toggle="tooltip" href="{% url 'actualizar_modulo' modulo.id %}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  /></a>
                            <a data-toggle="tooltip" href="{% url 'borrar_modulo' modulo.id %}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  /></a>
                            {% endifequal %}
                    </td>
                </tr>
                {% endif %}
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>


<!-- Modul Objects -->
<!-- {% for modulo in modul_objects %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-6" onclick="window.location='{% url 'modulo_detalle' modulo.id%}';" style="cursor: pointer;">
                <h1>{{modulo.nombre}}</h1>
                <p>{{modulo.status}}</p>

            </div>
        </div>
    </div>

{% endfor %} -->
<!-- END Proyecto Objects -->

        <!-- Pagination -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <nav class="pagination-sm">
                        <ul class="pagination">
                            {% if proyect_objects.has_previous %}
                                <li class="page-item">
                                    <a class="btn btn-dark" href="?page={{ modul_objects.previous_page_number }}">Anterior</a>
                                </li>
                            {% endif %}
                            <li class="page-item active">
                                <a class="btn btn-dark" href="?page={{ modul_objects.number }}" style="pointer-events: none">Pagina Actual</a>
                            </li>
                            {% if proyect_objects.has_next %}
                            <li class="page-item">
                                <a class="btn btn-dark" href="?page={{ modul_objects.next_page_number }}">Siguiente</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <!-- END Pagination -->
        <div class="container-fluid row-margin-20"></div>
    </div>


    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();   
        });
        </script>

{% endblock %}

