{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary"href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-muted" href="#">Reportes</a>
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
    </div>
  </nav>


<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>Reportes</h1>      
      </div>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Generador de reportes</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Selecciona el tipo de reporte a generar  <a href="#" title="Consideraciones" data-toggle="popover" data-placement="right">
            <img src={% static 'sigesp/duda.png' url%} height=25  class="d-inline-block alighn-top"/>
        </a></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              
              {% if bool_rep %}
              <a href="{% url 'reporte_avance' modulo.id%}" class="btn btn-secondary btn-sm" target="_blank">Reporte de avance </a>

              {%else%}
              <a href="{% url 'reporte_avance' modulo.id%}" class="btn btn-secondary btn-sm" style="pointer-events: none">Reporte de avance</a>

              {% endif %}
                  
              
              {% if bool_def %}
                <a href="{% url 'reporte_def' modulo.id%}" class="btn btn-secondary btn-sm" target="_blank">Reporte de defectos</a>

                {%else%}
                <a href="{% url 'reporte_def' modulo.id%}" class="btn btn-secondary btn-sm" style="pointer-events: none">Reporte de defectos</a>
              {% endif %}

                

          </div>
        </div>
      </div>
      <div class="container-fluid row-margin-40"></div>
</div>

<div id="popover-content" style="display: none">
  <ul class="list-group custom-popover">
    <li class="list-group-item">Un reporte de avance solo puede ser generado si existen guiones de prueba y casos de prueba. En caso de no cumplirse esta condición el botón estará desabilitado</li>
    <li class="list-group-item">Un reporte de defectos solo puede ser generado si existen defectos registrados en el sistema. En caso de no cumplirse esta condición el botón estará desabilitado</li>
  </ul>
</div>

<script>
  $(document).ready(function() {
  $('[data-toggle="popover"]').popover({
    html: true,
    content: function() {
      return $('#popover-content').html();
    }
  });
});
</script>
{% endblock %}