{% extends 'base.html' %}

{% block body%}
<div class="form-group" id="readroot" style="display: none">
        <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Remover campo</button><br /><br />
    <!-- <input type="button" value="Remover prueba"
        onclick="this.parentNode.parentNode.removeChild(this.parentNode);" /><br /><br /> -->
        <label for="Salidas">Selecciona la salida correspondiente</label><br>
        <select name="salida" id="salida" class="form-control" required>
            <option value="" selected disabled hidden>Selecciona la salida</option>
            <option value="Otra">Otra</option>
            {% for sal in guion.salidas%}
            <option value="{{sal}}">{{sal}}</option>
            {%endfor%}
        </select>
</div>
<div class="form-group" id="readroot_2" style="display: none">
        <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Remover campo</button><br /><br />
    <!-- <input type="button" value="Remover prueba"
        onclick="this.parentNode.parentNode.removeChild(this.parentNode);" /><br /><br /> -->
        <label for="salidasesp">Ingresa el nombre de la salida a registrar</label><br>
        <input type="text" class="form-control" name="salida" id="titulo" required>
</div>

<div class="form-group" id="readroot_3" style="display: none">
        <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Remover campo</button><br /><br />
    <!-- <input type="button" value="Remover prueba"
        onclick="this.parentNode.parentNode.removeChild(this.parentNode);" /><br /><br /> -->
        <label for="RemSal">Selecciona la salida para remover de la lista del caso de prueba</label><br>
        <select name="remsal" id="salida" class="form-control" required>
            <option value="" selected disabled hidden>Selecciona la salida a retirar del caso de prueba</option>
            {% for sal in caso_salidas%}
            <option value="{{sal}}">{{sal}}</option>
            {%endfor%}
        </select>
</div>
<div class="container">
    <div class="px-4 py-1 my-5 text-center">
        <h1 class="display-5 fw-bold">ACTUALIZACION DE CASO DE PRUEBA</h1>
    </div>
    <div class = "row">
        <div class="row row-margin-10">
        </div>
        <div class = "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Actualizar Caso de Prueba
                    </div>
                </div>
                <div class="card-body">
                    <form action="{% url 'actualizarcp' casoprueba.id%}" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="titulo">Titulo caso de Prueba</label><br>
                                <input type="text" class="form-control" name="titulo" id="titulo" value="{{casoprueba.titulo}}" required>
                            </div>

                            <div class="form-group">
                                <label for="Entradas">Selecciona la entrada con las Clases de equivalencia correspondientes</label><br>

                                    {% for nombre, condiciones in ce_dic.items%}
                                        <input type="hidden" name="CENombre{{ forloop.counter }}" value="{{nombre}}" />
                                        {{nombre}}
                                        <div class="form-group">
                                            <select name="CEValor{{ forloop.counter }}" id="Entradas" class="form-control" required>
                                                <option value="" selected disabled hidden>Selecciona la CE</option>
                                            {% for valor in condiciones %}
                                                {% if valor in search_list %}
                                                    <option value="{{valor}}" selected>{{valor}}</option>
                                                {% else %}
                                                    <option value="{{valor}}">{{valor}}</option>
                                                {% endif %}
                                            {% endfor %}
                                            </select>
                                        </div>
                                    {%endfor%}
                                        
                            </div>
                            <div class="form-group">
                                {{caso_trayectoria}}
                                <label for="Trayectorias">Selecciona la trayectoria correspondiente</label><br>
                                <select name="trayectoria" id="trayectoria" class="form-control" required>
                                    <option value="" selected disabled hidden>Selecciona la treyectoria</option>
                                    {% if caso_trayectoria == "SoloPrincipal" %}
                                    <option value="SoloPrincipal" selected>Solo Trayectoria Principal</option>
                                        {% else %}
                                        <option value="SoloPrincipal">Solo Trayectoria Principal</option>
                                    {% endif %}
                                    {% for tray in trayectorias%}
                                    {% if caso_trayectoria == tray %}
                                        <option value="{{tray}}" selected>{{tray}}</option>
                                        {% else %}
                                        <option value="{{tray}}">{{tray}}</option>
                                    {% endif %}
                                {%endfor%}
                                    <!-- {% for tray in trayectorias%}
                                    <option value="{{tray}}">{{tray}}</option>
                                    {%endfor%} -->
                                </select>
                            </div>

                            <!-- <div class="form-group">
                                <label for="Salidas">Selecciona la salida correspondiente</label><br>
                                <select name="salida" id="salida" class="form-control" required>
                                    <option value="" selected disabled hidden>Selecciona la salida</option>
                                    {% if casoprueba.resultados_esp == "Ninguna" %}
                                    <option value="Ninguna" selected>Ninguna</option>
                                    {% for sal in guion.salidas%}
                                        <option value="{{sal}}">{{sal}}</option>
                                    {%endfor%}    
                                    {% else %}                                
                                    {% for sal in guion.salidas%}
                                        {% if casoprueba.resultados_esp == sal %}
                                            <option value="{{sal}}" selected>{{sal}}</option>
                                            {% else %}
                                            <option value="{{sal}}">{{sal}}</option>
                                        {% endif %}
                                    {%endfor%}
                                    {% endif %}
                                </select>
                            </div> -->
                            <div class="form-group">
                                <span id="writeroot"></span>
                                <!-- <input class="btn-group btn-group-sm mr-2" type="button" value="Agregar otra prueba" onclick="agregarPruebas()"/> -->
                                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                    <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="agregarSalidas()">Agregar campo</button>
                                  </div>
                            </div>
                            <div class="form-group">
                                <span id="writeroot_2"></span>
                                <!-- <input class="btn-group btn-group-sm mr-2" type="button" value="Agregar otra prueba" onclick="agregarPruebas()"/> -->
                                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                    <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="agregarSalidaEsp()">Registrar salida a caso de prueba</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <span id="writeroot_3"></span>
                                <!-- <input class="btn-group btn-group-sm mr-2" type="button" value="Agregar otra prueba" onclick="agregarPruebas()"/> -->
                                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                    <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="quitarSalidas()">Remover salida de lista de caso de prueba</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Destino">Selecciona el destino del caso de uso correspondiente</label><br>
                                <select name="destino" id="destino" class="form-control" required>
                                    <option value="" selected disabled hidden>Selecciona el destino</option>
                                    {% for des in guion.destinos%}
                                    {% if casoprueba.destino == des %}
                                        <option value="{{des}}" selected>{{des}}</option>
                                        {% else %}
                                        <option value="{{des}}">{{des}}</option>
                                    {% endif %}
                                {%endfor%}
                                </select>
                            </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                    <button type="submit" class="btn btn-dark btn-lg px-4 me-sm-3">Actualizar</button>
                                </div>
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                    <a href="{% url 'detallecp' casoprueba.id%}" class="btn btn-dark btn-sm">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div> 
    <div class="container-fluid row-margin-40"></div>
</div> 


<script>
    var counter = 0;
    
    function agregarSalidas() {
        counter++;
        var newFields = document.getElementById('readroot').cloneNode(true);
        newFields.id = '';
        newFields.style.display = 'block';
        var newField = newFields.childNodes;
        for (var i=0;i<newField.length;i++) {
            var theName = newField[i].name
            if (theName)
                newField[i].name = theName + counter;
        }
        var insertHere = document.getElementById('writeroot');
        insertHere.parentNode.insertBefore(newFields,insertHere);
    }
    
        </script>

<script>
    var counter = 0;
    
    function agregarSalidaEsp() {
        counter++;
        var newFields = document.getElementById('readroot_2').cloneNode(true);
        newFields.id = '';
        newFields.style.display = 'block';
        var newField = newFields.childNodes;
        for (var i=0;i<newField.length;i++) {
            var theName = newField[i].name
            if (theName)
                newField[i].name = theName + counter;
        }
        var insertHere = document.getElementById('writeroot_2');
        insertHere.parentNode.insertBefore(newFields,insertHere);
    }
    
        </script>

<script>
    var counter = 0;
    
    function quitarSalidas() {
        counter++;
        var newFields = document.getElementById('readroot_3').cloneNode(true);
        newFields.id = '';
        newFields.style.display = 'block';
        var newField = newFields.childNodes;
        for (var i=0;i<newField.length;i++) {
            var theName = newField[i].name
            if (theName)
                newField[i].name = theName + counter;
        }
        var insertHere = document.getElementById('writeroot_3');
        insertHere.parentNode.insertBefore(newFields,insertHere);
    }
    
        </script>

{%endblock%}