{% extends 'base.html' %}
{%load crispy_forms_tags %}
{% block body%}

<div class="container">
    <div class="px-4 py-1 my-5 text-center">
        <h1 class="display-5 fw-bold">ACTUALIZAR RESULTADO DE PRUEBAS</h1>
    </div>
    <div class="row">
		<div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Aspecto</th>
                      <th scope="col">Valor</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th scope="row">Descripción caso de prueba</th>
                      <td>
                        {% for key, value in dict_desc.items%} 
                        <ol>{%for x in value %}
                            <li class="list-item">
                                {{x}}
                            </li>
                            {%endfor%}
                        </ol>
                        {%endfor%}
                      </td>

                    </tr>
                    <tr>
                      <th scope="row">Entradas</th>          
                      <td>
                        {% for key, value in dict_entradas.items%} 
                        <dl>
                            <dt>"{{key}}"</dt>
                            <ol>{%for x in value %}
                                <li class="list-item">
                                    {{x}}
                                </li>
                                {%endfor%}
                            </ol>
                          </dl>   
                        {%endfor%}
                    </td>
                    </tr>
                    <tr>
                        <th scope="row">Resultado esperado</th>
                        <td>
                            <ol>{%for salidas in list_salidas%}
                                <li class="list-item">
                                    {{salidas}}
                                </li>
                                {%endfor%}
                            </ol>
                        </td>
                    </tr>
                    <tr>
                    <th scope="row">Destino</th>
                    <td>
                        {{casoprueba.destino}}
                    </td>
                    </tr>
                </tbody>
            </table>
		</div>
		<div class="col-md-6">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Registrar Resultado de Prueba
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {%for field in form%}
                            <div class="form-group">
                                {{ field.name}}
                            </br>
                                {{ field }}

                            </div>
                        {% endfor %} -->
                        {{ form|crispy }}
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                    <button type="submit" class="btn btn-dark btn-lg px-4 me-sm-3">Guardar</button>
                                </div>
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                    <a href="{% url 'detalle_resultado' resul_prueba.id%}" class="btn btn-dark btn-sm">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
	</div>
    <div class="container-fluid row-margin-40"></div>
</div> 


{% endblock %}