{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <!-- <a class="nav-link" href="{% static 'sigesp/Plantilla_Latex.tex'%}"> <img src={% static 'open-iconic/png/file-4x.png' url%} height=15  class="d-inline-block alighn-top"/> Descarga: Plantilla Caso de Uso</a> -->
            <a class="nav-link" href="{% url 'descargar_plantilla' %}"> <img src={% static 'open-iconic/png/file-4x.png' url%} height=15  class="d-inline-block alighn-top"/> Descarga: Plantilla Caso de Uso</a>
        </li>
    </ul>
    </div>
  </nav>

<div class="container">
    <div class="px-4 py-1 my-5 text-center">
        <h1 class="display-5 fw-bold">SUBIR BASE DE PRUEBA</h1>
    </div>
    <div class = "row">
        <div class = "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Alta Base de Prueba
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {%for field in form%}
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}        
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                    <button type="submit" class="btn btn-dark btn-lg px-4 me-sm-3">Subir</button>
                                </div>
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                    <a href="{% url 'guiones' modulo.id%}" class="btn btn-dark btn-sm">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div> 
    <div class="container-fluid row-margin-40"></div>
</div> 

{% endblock %}

