{% extends 'base.html' %}

{% block body%}

<div class="container">
    <div class="px-4 py-1 my-5 text-center">
        <h1 class="display-5 fw-bold">ALTA DE CLASE DE EQUIVALENCIA</h1>
    </div>
    <div class = "row">
        <div class = "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Alta Clase de Equivalencia
                    </div>
                </div>
                <div class="card-body">

                    <form action="{% url 'alta_ce' guion.id%}" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                <!-- {% for index, entrada in entradas%} 
                                <label for="{{entrada}}">{{entrada}}</label>
                                <input type="radio" id="entrada" name="entradas" value="{{entrada}}"><br>                        
                                {%endfor%} -->
                                <label for="Entradas">Selecciona la entrada</label><br>
                                <select name="name" id="Entradas" class="form-control" required>
                                    <option value="" selected disabled hidden>Selecciona la Entrada</option>
                                    {% for item in entrys%}
                                    <option value="{{item}}">{{item}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="formgroupinput">Tipo de Dato</label><br>
                                <input type="radio" id="entero" name="type_input" value="ENTERO" required onclick="showHideForm()">
                                <label for="entero">Entero</label><br>
                                <input type="radio" id="flotante" name="type_input" value="FLOTANTE" onclick="showHideForm()">
                                <label for="flotante">Flotante</label><br>
                                <input type="radio" id="cadena" name="type_input" value="CADENA" onclick="showHideForm()" >
                                <label for="cadena">Cadena</label><br>
                                <input type="radio" id="lista" name="type_input" value="LISTA" onclick="showHideForm()" >
                                <label for="cadena">Lista de opciones</label><br>
                                <input type="radio" id="fecha" name="type_input" value="FECHA" onclick="showHideForm()" >
                                <label for="fecha">Fecha</label><br>
                                <input type="radio" id="archivo" name="type_input" value="ARCHIVO" onclick="showHideForm()">
                                <label for="archivo">Archivo</label><br>
                            </div>
                            <div class="form-group">
                                <label for="formgroupinput">Dato Obligatorio</label><br>
                                <input type="hidden" name="obli_data" value="0" />
                                <input type="checkbox" id="obligatorio" name="obli_data" value="1" />
                                <label for="obligatorio">Obligatorio</label><br>
                            </div>
                            <div class="form-group">
                                <fieldset id="enteroForm" style="display:none;">
                                <label for="formgroupinput">Entero</label><br>
                                <label for="limite_inf">Limite Inferior</label><br>
                                <input type="number" id="limite_inf_int" name="limite_inf_int" class="form-control"><br>
                                <label for="limite_sup">Limite Superior</label><br>
                                <input type="number" id="limite_sup_int" name="limite_sup_int" class="form-control"><br>
                                <input type="hidden" name="cero_int" value="0" />
                                <input type="checkbox" id="cero_int" name="cero_int" value="1">
                                <label for="cero">Valor puede ser igual a Cero</label><br>
                                <input type="hidden" name="limites_int" value="0" />
                                <input type="checkbox" id="limites_int" name="limites_int" value="1">
                                <label for="limites">Valor puede ser igual a limites inferior y superior</label><br>
                                </fieldset>
                            </div>
                            <div class="form-group">
                            <fieldset id="flotanteForm" style="display:none;">
                                <label for="formgroupinput">Flotante</label><br>
                                <label for="limite_inf">Limite Inferior</label><br>
                                <input type="number" step="0.01" id="limite_inf_float" name="limite_inf_float" class="form-control"><br>
                                <label for="limite_sup">Limite Superior</label><br>
                                <input type="number" step="0.01" id="limite_sup_float" name="limite_sup_float" class="form-control"><br>
                                <input type="hidden" name="cero_float" value="0" />
                                <input type="checkbox" id="cero_float" name="cero_float" value="1">
                                <label for="obligatorio">Valor puede ser igual a Cero</label><br>
                                <input type="hidden" name="limites_float" value="0" />
                                <input type="checkbox" id="limites" name="limites_float" value="1">
                                <label for="obligatorio">Valor puede ser igual a limites inferior y superior</label><br>
                        </fieldset>
                    </div>
                    <div class="form-group">
                            <fieldset id="cadenaForm" style="display:none;">
                                <label for="formgroupinput">Cadena</label><br>
                                <input type="hidden" name="longfija" value="0" />
                                <input type="checkbox" id="longfija" name="longfija" value="1">
                                <label for="lognset">La cadena tiene longitud fija</label><br>
                                <label for="longitud">Longitud</label><br>
                                <input type="number" id="longitud_cadena" name="longitud" class="form-control"><br>
                                <input type="hidden" name="alfanumerico" value="0" />
                                <input type="checkbox" id="alfanumerico" name="alfanumerico" value="1">
                                <label for="lafastring"> Cadena Alfanumerica</label><br>
                                <input type="hidden" name="especial" value="0" />
                                <input type="checkbox" id="especial" name="especial" value="1">
                                <label for="specialcarac"> Caracteres Especiales</label><br>
                                <input type="hidden" name="regexp" value="0" />
                                <input type="checkbox" id="regexp" name="regexp" value="1" onclick="regexpReq()" >
                                <label for="regularstring">¿La cadena tiene formato con expresión regular?</label><br>
                                <div id="expreg" style="display: none;">
                                    Expresión Regular:
                                    <input type="text" class="form-control" name="expreg" id="expreg" class="form-control">
                                </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset id="fechaForm" style="display:none;">
                            <label for="formgroupinput">Fecha</label><br>
                            <label for="fecha_min">Fecha minima</label><br>
                            <input type="date" id="fecha_min" name="fecha_min" class="form-control"><br>
                            <label for="fecha_max">Fecha maxima</label><br>
                            <input type="date" id="fecha_max" name="fecha_max" class="form-control"><br>
                    </fieldset>
                    </div>
                        <div class="form-group">
                            <fieldset id="archivoForm" style="display:none;">
                                <label for="formgroupinput">Archivo</label><br>
                                <label for="formgroupinput">Tipo de Archivo</label><br>
                                <input type="radio" id="type_file" name="type_file" value="JPG">
                                <label for="entero">Imagen JPG</label><br>
                                <input type="radio" id="type_file" name="type_file" value="PNG">
                                <label for="entero">Imagen PNG</label><br>
                                <input type="radio" id="type_file" name="type_file" value="PDF">
                                <label for="flotante">Archivo PDF</label><br>
                                <label for="tamano">Tamaño del archivo</label><br>
                                <input type="number" id="tamano_file" name="tamano" class="form-control"><br>
                                <label for="longitud_nombre">Longitud de nombre del archivo</label><br>
                                <input type="number" id="longitud_nombre" name="longitud_nombre" class="form-control"><br>
                        </fieldset>
                    </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                    <button type="submit" class="btn btn-dark btn-lg px-4 me-sm-3">Crear</button>
                                </div>
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                    <a href="{% url 'detalleg' guion.id%}" class="btn btn-dark btn-sm">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div> 
    <div class="container-fluid row-margin-40"></div>
</div> 

<script>
    function showHideForm(){
        if(document.getElementById('entero').checked) {
            document.getElementById('enteroForm').style.display = 'block';  
            document.getElementById('flotanteForm').style.display = 'none'; 
            document.getElementById('cadenaForm').style.display = 'none'; 
            document.getElementById('fechaForm').style.display = 'none'; 
            document.getElementById('archivoForm').style.display = 'none'; 
            // document.getElementById('enteroForm').setAttribute("required", "");
            // document.getElementById('enteroForm').removeAttribute("required"); 
            // Entero
            document.getElementById('limite_inf_int').setAttribute("required", "");
            document.getElementById('limite_sup_int').setAttribute("required", "");
            // Flotante
            document.getElementById('limite_inf_float').removeAttribute("required"); 
            document.getElementById('limite_sup_float').removeAttribute("required"); 
            // Cadena
            document.getElementById('longitud_cadena').removeAttribute("required"); 
            // Fecha
            document.getElementById('fecha_min').removeAttribute("required"); 
            document.getElementById('fecha_max').removeAttribute("required"); 
            // Archivo 
            document.getElementById('type_file').removeAttribute("required"); 
            document.getElementById('tamano_file').removeAttribute("required"); 
            document.getElementById('longitud_nombre').removeAttribute("required"); 
            }   
            else if(document.getElementById('flotante').checked) {
                document.getElementById('flotanteForm').style.display = 'block';
                document.getElementById('enteroForm').style.display = 'none'; 
                document.getElementById('cadenaForm').style.display = 'none'; 
                document.getElementById('fechaForm').style.display = 'none'; 
                document.getElementById('archivoForm').style.display = 'none';  
                // Entero
                document.getElementById('limite_inf_int').removeAttribute("required"); 
                document.getElementById('limite_sup_int').removeAttribute("required"); 
                // Flotante
                document.getElementById('limite_inf_float').setAttribute("required", "");
                document.getElementById('limite_sup_float').setAttribute("required", "");
                // Cadena
                document.getElementById('longitud_cadena').removeAttribute("required"); 
                // Fecha
                document.getElementById('fecha_min').removeAttribute("required"); 
                document.getElementById('fecha_max').removeAttribute("required"); 
                // Archivo 
                document.getElementById('type_file').removeAttribute("required"); 
                document.getElementById('tamano_file').removeAttribute("required"); 
                document.getElementById('longitud_nombre').removeAttribute("required"); 
            }   
            else if(document.getElementById('cadena').checked) {  
                document.getElementById('flotanteForm').style.display = 'none';
                document.getElementById('enteroForm').style.display = 'none'; 
                document.getElementById('cadenaForm').style.display = 'block'; 
                document.getElementById('fechaForm').style.display = 'none'; 
                document.getElementById('archivoForm').style.display = 'none'; 
                // Entero
                document.getElementById('limite_inf_int').removeAttribute("required"); 
                document.getElementById('limite_sup_int').removeAttribute("required"); 
                // Flotante
                document.getElementById('limite_inf_float').removeAttribute("required"); 
                document.getElementById('limite_sup_float').removeAttribute("required"); 
                // Cadena
                document.getElementById('longitud_cadena').setAttribute("required", "");
                // Fecha
                document.getElementById('fecha_min').removeAttribute("required"); 
                document.getElementById('fecha_max').removeAttribute("required"); 
                // Archivo 
                document.getElementById('type_file').removeAttribute("required"); 
                document.getElementById('tamano_file').removeAttribute("required"); 
                document.getElementById('longitud_nombre').removeAttribute("required"); 
            }   
            else if(document.getElementById('lista').checked) {
                document.getElementById('flotanteForm').style.display = 'none';
                document.getElementById('enteroForm').style.display = 'none'; 
                document.getElementById('cadenaForm').style.display = 'none'; 
                document.getElementById('fechaForm').style.display = 'none'; 
                document.getElementById('archivoForm').style.display = 'none'; 
                // Entero
                document.getElementById('limite_inf_int').removeAttribute("required"); 
                document.getElementById('limite_sup_int').removeAttribute("required"); 
                // Flotante
                document.getElementById('limite_inf_float').removeAttribute("required"); 
                document.getElementById('limite_sup_float').removeAttribute("required"); 
                // Cadena
                document.getElementById('longitud_cadena').removeAttribute("required");
                // Fecha
                document.getElementById('fecha_min').removeAttribute("required"); 
                document.getElementById('fecha_max').removeAttribute("required"); 
                // Archivo 
                document.getElementById('type_file').removeAttribute("required"); 
                document.getElementById('tamano_file').removeAttribute("required"); 
                document.getElementById('longitud_nombre').removeAttribute("required"); 
            }
            else if(document.getElementById('fecha').checked) {   
                document.getElementById('flotanteForm').style.display = 'none';
                document.getElementById('enteroForm').style.display = 'none'; 
                document.getElementById('cadenaForm').style.display = 'none'; 
                document.getElementById('fechaForm').style.display = 'block'; 
                document.getElementById('archivoForm').style.display = 'none'; 
                // Entero
                document.getElementById('limite_inf_int').removeAttribute("required"); 
                document.getElementById('limite_sup_int').removeAttribute("required"); 
                // Flotante
                document.getElementById('limite_inf_float').removeAttribute("required"); 
                document.getElementById('limite_sup_float').removeAttribute("required"); 
                // Cadena
                document.getElementById('longitud_cadena').removeAttribute("required"); 
                // Fecha
                document.getElementById('fecha_min').setAttribute("required", "");
                document.getElementById('fecha_max').setAttribute("required", "");
                // Archivo 
                document.getElementById('type_file').removeAttribute("required"); 
                document.getElementById('tamano_file').removeAttribute("required"); 
                document.getElementById('longitud_nombre').removeAttribute("required"); 
            }  
            else if(document.getElementById('archivo').checked) {
                document.getElementById('flotanteForm').style.display = 'none';
                document.getElementById('enteroForm').style.display = 'none'; 
                document.getElementById('cadenaForm').style.display = 'none'; 
                document.getElementById('fechaForm').style.display = 'none'; 
                document.getElementById('archivoForm').style.display = 'block';  
                // Entero
                document.getElementById('limite_inf_int').removeAttribute("required"); 
                document.getElementById('limite_sup_int').removeAttribute("required"); 
                // Flotante
                document.getElementById('limite_inf_float').removeAttribute("required"); 
                document.getElementById('limite_sup_float').removeAttribute("required"); 
                // Cadena
                document.getElementById('longitud_cadena').removeAttribute("required"); 
                // Fecha
                document.getElementById('fecha_min').removeAttribute("required"); 
                document.getElementById('fecha_max').removeAttribute("required"); 
                // Archivo 
                document.getElementById('type_file').setAttribute("required", "");
                document.getElementById('tamano_file').setAttribute("required", "");
                document.getElementById('longitud_nombre').setAttribute("required", "");

            }  
            else {   
                    alert("No has seleccionado alguna opción")
            }   
    }
</script>

<script>
    function regexpReq() {
        var checkBox = document.getElementById('regexp');
        var div = document.getElementById('expreg');
        if (checkBox.checked == true) {
            div.style.display = "block";
            // expreg
        } else {
            div.style.display = "none";
        }
    }
</script>

{% endblock %}