{% extends 'base.html' %}


{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <h3 class="display-5 fw-bold">Confirma que desea eliminar el Defecto: <b>{{defecto.titulo}}</b></h3>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                <button type="submit" class="btn btn-dark">Confirmar</button>
                            </div>
                            <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                <a href="{% url 'detalledefecto' defecto.id%}" class="btn btn-dark btn-sm">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}