{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'guiones' modulo.id%}" >Guiones</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalleg' guion.id%}" >{{guion.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{claseequivalencia.nombre}}
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown dropleft">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Opciones</a>
			<div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'actualizarce' claseequivalencia.id%}">Editar</a>
                <a class="dropdown-item" href="{% url 'borrarce' claseequivalencia.id%}">Eliminar</a>
			</div>
		</li>
    </ul>
    </div>
  </nav>


<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>Entrada de Clase de Equivalencia: {{claseequivalencia.nombre}}</h1>      
      </div>
      <p><h4>Tipo de Dato: <i class="text-info"><b>{{claseequivalencia.tipo_dato}}</b></i></h4></p>
    <div class="container-fluid">
        <div class="row  row-margin-10">
            <div class="col-md-12">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>
                                Clase de Equivalencia (CE)
                            </th>
                            <th>
                                Estado
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for ce_item_key, ce_item_value in condiciones_items %}
                            {% if ce_item_value == "Valido" %}
                            <tr class="table-success">
                                <td>
                                    {{ce_item_key}}
                                </td>
                                <td>
                                    {{ce_item_value}}
                                </td>
                            </tr>
                            {% elif ce_item_value == "No Valido" %}
                                <tr class="table-danger">
                                    <td>
                                        {{ce_item_key}}
                                    </td>
                                    <td>
                                        {{ce_item_value}}
                                    </td>
                                </tr>
                            {% endif %}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>

{% endblock %}