{% extends 'base.html' %}
{% load static %}
{% block body%}
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'guiones' modulo.id%}" >Guiones</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalleg' guion.id%}" >{{guion.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detallecp' casoprueba.id %}" >{{casoprueba.titulo}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Resultado: {{resul_prueba.fecha}}
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown dropleft">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Opciones</a>
			<div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'actualizar_resultado' resul_prueba.id%}">Editar</a>
                <a class="dropdown-item" href="{% url 'borrar_resultado' resul_prueba.id%}">Eliminar</a>
			</div>
		</li>
    </ul>
    </div>
  </nav>
</div>

<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>Resultado de prueba: {{casoprueba.titulo}}  {{resul_prueba.fecha}}</h1>      
      </div>

    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Información general de resultado de prueba <img src={% static 'open-iconic/png/caret-bottom-8x.png' url%} height=15  class="d-inline-block alighn-top"/></a>
                    </h4>
                </div>
                <!-- <div id="collapse1" class="panel-collapse collapse">
                    <div class="row row-margin-10">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <h3>Fecha de realización de resultado de prueba</h3>
                                    </div>
                                        <div class="card card-body">
                                            {{resul_prueba.fecha}}
                                        </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <h3>Resultado</h3>
                                    </div>

                                        <div class="card card-body">
            
                                            {% if resul_prueba.resultado == "Sin Probar" %}
                                            <div class="card card-body bg-info text-center">
                                                <h3>{{resul_prueba.resultado}}</h3>
                                            </div>
                                            {% elif resul_prueba.resultado == "Aprobado" %}
                                            <div class="card card-body bg-success text-center">
                                                <h3>{{resul_prueba.resultado}}</h3>
                                            </div>
                                            {% elif resul_prueba.resultado == "No Aprobado" %}
                                            <div class="card card-body bg-warning text-center">
                                                <h3>{{resul_prueba.resultado}}</h3>
                                            </div>
                                            {% elif resul_prueba.resultado == "Con Impedimentos" %}
                                            <div class="card card-body bg-danger text-center">
                                                <h3>{{resul_prueba.resultado}}</h3>
                                            </div>
                                            {% endif %}
                                        </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseobs">Observaciones</a></h3>
                                    </div>
                                    <div class="collapse" id="collapseobs">
                                        <div class="card card-body">
                                                    {{resul_prueba.observaciones}}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            <div id="collapse1" class="panel-collapse collapse">
                <div class="table-responsive row-margin-20">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">Aspecto</th>
                              <th scope="col">Valor</th>
                            </tr>
                          </thead>
    
                          <tbody>
                            <tr>
                              <th scope="row">Fecha de registro de prueba</th>
                              <td>
                                {{resul_prueba.fecha}}
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">Resultado</th>          
                              {% if resul_prueba.resultado == "Sin Probar" %}
                              <td class="table-info">
                                {{resul_prueba.resultado}}
                              </td>
                              {% elif resul_prueba.resultado == "Aprobado" %}
                              <td class="table-success">
                                {{resul_prueba.resultado}}
                              </td>
                              {% elif resul_prueba.resultado == "No Aprobado" %}
                              <td class="table-warning">
                                {{resul_prueba.resultado}}
                              </td>
                              {% elif resul_prueba.resultado == "Con Impedimentos" %}
                              <td class="table-danger">
                                {{resul_prueba.resultado}}
                              </td>
                              {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Observaciones</th>
                                <td>
                                    {{resul_prueba.observaciones}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseCE">Defectos <img src={% static 'open-iconic/png/caret-bottom-8x.png' url%} height=15  class="d-inline-block alighn-top"/></a>
                    </h4>
                </div>
                <div id="collapseCE" class="panel-collapse collapse">
                    <div class="row row-margin-10">
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <div class="btn-toolbar float-left" role="group">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="Boton3">
                                            <a href="{% url 'altadefecto' resul_prueba.id %}" class="btn btn-dark btn-sm">Registrar Defecto</a>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <table class="table row-margin-20">
                        <thead>
                            <tr>
                                <th>
                                    Titulo defecto
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Detalle
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for defecto in defecto_objects.all %}
                            {% if defecto.estado == "Notificado" %}
                            <tr class="table-info">
                                <td>
                                    {{defecto.titulo}}
                                </td>
                                <td>
                                    {{defecto.estado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalledefecto' defecto.id %}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_defecto' defecto.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_defecto' defecto.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% elif defecto.estado == "Liberado por QA" %}
                            <tr class="table-success">
                                <td>
                                    {{defecto.titulo}}
                                </td>
                                <td>
                                    {{defecto.estado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalledefecto' defecto.id %}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_defecto' defecto.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_defecto' defecto.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% elif defecto.estado == "No Notificado" %}
                            <tr class="table-secondary">
                                <td>
                                    {{defecto.titulo}}
                                </td>
                                <td>
                                    {{defecto.estado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalledefecto' defecto.id %}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_defecto' defecto.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_defecto' defecto.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% elif defecto.estado == "Replicado" %}
                            <tr class="table-warning">
                                <td>
                                    {{defecto.titulo}}
                                </td>
                                <td>
                                    {{defecto.estado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalledefecto' defecto.id %}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_defecto' defecto.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_defecto' defecto.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% elif defecto.estado == "En Liberacion" %}
                            <tr class="table-primary">
                                <td>
                                    {{defecto.titulo}}
                                </td>
                                <td>
                                    {{defecto.estado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalledefecto' defecto.id %}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_defecto' defecto.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_defecto' defecto.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- <div class="row row-margin-10">
                        {% for defecto in defecto_objects.all %}
                            <div class="col-md-2">
                                <div class="card mb-2 shadow-sm">
                                    <div class="card card-body">
                                        {% if defecto.estado == "Notificado" %}
                                        <div class="card card-body bg-info text-center">
                                            <h3 class="card-title">{{defecto.titulo}}</h3>
                                            <h5>{{defecto.estado}}</h5>
                                            <a href="{% url 'detalledefecto' defecto.id %}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% elif defecto.estado == "Liberado por QA" %}
                                        <div class="card card-body bg-success text-center">
                                            <h3 class="card-title">{{defecto.titulo}}</h3>
                                            <h5>{{defecto.estado}}</h5>
                                            <a href="{% url 'detalledefecto' defecto.id %}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% elif defecto.estado == "No Notificado" %}
                                        <div class="card card-body bg-secondary text-center">
                                            <h3 class="card-title">{{defecto.titulo}}</h3>
                                            <h5>{{defecto.estado}}</h5>
                                            <a href="{% url 'detalledefecto' defecto.id %}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% elif defecto.estado == "Replicado" %}
                                        <div class="card card-body bg-warning text-center">
                                            <h3 class="card-title">{{defecto.titulo}}</h3>
                                            <h5>{{defecto.estado}}</h5>
                                            <a href="{% url 'detalledefecto' defecto.id %}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% elif defecto.estado == "En Liberacion" %}
                                        <div class="card card-body bg-primary text-center">
                                            <h3 class="card-title">{{defecto.titulo}}</h3>
                                            <h5>{{defecto.estado}}</h5>
                                            <a href="{% url 'detalledefecto' defecto.id %}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid row-margin-40"></div>

</div>

{% endblock %}