{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'guiones' modulo.id%}" >Guiones</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalleg' guion.id%}" >{{guion.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{casoprueba.titulo}}
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown dropleft">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Opciones</a>
			<div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'actualizarcp' casoprueba.id%}">Editar</a>
                <a class="dropdown-item" href="{% url 'borrarcp' casoprueba.id%}">Eliminar</a>
			</div>
		</li>
    </ul>
    </div>
  </nav>

<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>Caso de Prueba: {{casoprueba.titulo}}</h1>      
      </div>
      <p><h4>Resultado: <i><b>{{casoprueba.resultado}}</b></i></h4>
        {% if suite %}
        <a href="{% url 'detalle_suite' suite.id %}" >Ir a suite: {{suite.titulo_suite}}</a>
        {% endif %}
    </p>



    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Información general de caso de prueba <img src={% static 'open-iconic/png/caret-bottom-8x.png' url%} height=15  class="d-inline-block alighn-top"/></a>
                    </h4>
                </div>
                <!-- <div id="collapse1" class="panel-collapse collapse">
                    <div class="row row-margin-10">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseDescripcion">Descripción Caso de Prueba</a></h3>
                                    </div>
                                    <div class="collapse" id="collapseDescripcion">
                                        <div class="card card-body">
                                            {% for key, value in dict_desc.items%} 
                                            <ol>{%for x in value %}
                                                <li class="list-item">
                                                    {{x}}
                                                </li>
                                                {%endfor%}
                                            </ol>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseEntradas">Entradas</a></h3>
                                    </div>
                                    <div class="collapse" id="collapseEntradas">
                                        <div class="card card-body">
                                            {% for key, value in dict_entradas.items%} 
                                            <dl>
                                                <dt>"{{key}}"</dt>
                                                <ol>{%for x in value %}
                                                    <li class="list-item">
                                                        {{x}}
                                                    </li>
                                                    {%endfor%}
                                                </ol>
                                              </dl>   
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseResultado">Resultado Esperado</a></h3>
                                    </div>
                                    <div class="collapse" id="collapseResultado">
                                        <div class="card card-body">
                                                    <ol>{%for salidas in list_salidas%}
                                                        <li class="list-item">
                                                            {{salidas}}
                                                        </li>
                                                        {%endfor%}
                                                    </ol>

                                        </div>
                                    </div>
                                    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseDestino">Destino</a></h3>
                                    </div>
                                    <div class="collapse" id="collapseDestino">
                                        <div class="card card-body">
                                            {{casoprueba.destino}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="table-responsive row-margin-20">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">Aspecto</th>
                                  <th scope="col">Valor</th>
                                </tr>
                              </thead>
        
                              <tbody>
                                <tr>
                                  <th scope="row">Descripción caso de prueba</th>
                                  <td>
                                    {% for key, value in dict_desc.items%} 
                                    <ol>{%for x in value %}
                                        <li class="list-item">
                                            {{x}}
                                        </li>
                                        {%endfor%}
                                    </ol>
                                    {%endfor%}
                                  </td>
            
                                </tr>
                                <tr>
                                  <th scope="row">Entradas</th>          
                                  <td>
                                    {% for key, value in dict_entradas.items%} 
                                    <dl>
                                        <dt>"{{key}}"</dt>
                                        <ol>{%for x in value %}
                                            <li class="list-item">
                                                {{x}}
                                            </li>
                                            {%endfor%}
                                        </ol>
                                      </dl>   
                                    {%endfor%}
                                </td>
                                </tr>
                                <tr>
                                    <th scope="row">Resultado esperado</th>
                                    <td>
                                        <ol>{%for salidas in list_salidas%}
                                            <li class="list-item">
                                                {{salidas}}
                                            </li>
                                            {%endfor%}
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                <th scope="row">Destino</th>
                                <td>
                                    {{casoprueba.destino}}
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseResultadosPruebas">Resultados de casos de prueba <img src={% static 'open-iconic/png/caret-bottom-8x.png' url%} height=15  class="d-inline-block alighn-top"/></a>
                    </h4>
                </div>
                <div id="collapseResultadosPruebas" class="panel-collapse collapse">
                    <div class="row row-margin-10">
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <div class="btn-toolbar float-left" role="group">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="Boton1">
                                            <a href="{% url 'registrar_resultado' casoprueba.id%}" class="btn btn-dark btn-sm">Registrar resultado de CP</a>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <table class="table row-margin-20">
                        <thead>
                            <tr>
                                <th>
                                    Fecha Prueba
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Detalle
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cp in resultado_objects.all %}
                            {% if cp.resultado == "Sin Probar" %}
                            <tr class="table-info">
                                <td>
                                    {{cp.fecha}}
                                </td>
                                <td>
                                    {{cp.resultado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalle_resultado' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_resultado' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_resultado' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% elif cp.resultado == "Aprobado" %}
                            <tr class="table-success">
                                <td>
                                    {{cp.fecha}}
                                </td>
                                <td>
                                    {{cp.resultado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalle_resultado' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_resultado' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_resultado' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% elif cp.resultado == "No Aprobado" %}
                            <tr class="table-warning">
                                <td>
                                    {{cp.fecha}}
                                </td>
                                <td>
                                    {{cp.resultado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalle_resultado' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_resultado' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_resultado' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% elif cp.resultado == "Con Impedimentos" %}
                            <tr class="table-danger">
                                <td>
                                    {{cp.fecha}}
                                </td>
                                <td>
                                    {{cp.resultado}}
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        <a data-toggle="tooltip" href="{% url 'detalle_resultado' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'actualizar_resultado' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                        <a data-toggle="tooltip" href="{% url 'borrar_resultado' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <!-- <div class="row row-margin-10">
                        {% for casoprueba in resultado_objects.all %}
                            <div class="col-md-2">
                                <div class="card mb-2 shadow-sm">
                                    <div class="card card-body">
                                        {% if casoprueba.resultado == "Sin Probar" %}
                                        <div class="card card-body bg-info text-center">
                                            <h5 class="card-title">{{casoprueba.fecha}}</h5>
                                            <h5>{{casoprueba.resultado}}</h5>
                                            <a href="{% url 'detalle_resultado' casoprueba.id%}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% elif casoprueba.resultado == "Aprobado" %}
                                        <div class="card card-body bg-success text-center">
                                            <h5 class="card-title">{{casoprueba.fecha}}</h5>
                                            <h5>{{casoprueba.resultado}}</h5>
                                            <a href="{% url 'detalle_resultado' casoprueba.id%}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% elif casoprueba.resultado == "No Aprobado" %}
                                        <div class="card card-body bg-warning text-center">
                                            <h5 class="card-title">{{casoprueba.fecha}}</h5>
                                            <h5>{{casoprueba.resultado}}</h5>
                                            <a href="{% url 'detalle_resultado' casoprueba.id%}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% elif casoprueba.resultado == "Con Impedimentos" %}
                                        <div class="card card-body bg-danger text-center">
                                            <h5 class="card-title">{{casoprueba.fecha}}</h5>
                                            <h5>{{casoprueba.resultado}}</h5>
                                            <a href="{% url 'detalle_resultado' casoprueba.id%}" class="btn btn-dark btn-sm">Detalle</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </div> -->
                    <!-- <div class="row row-margin-10">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
                                        <h3>Estado de Resultado/h3>
                                    </div>
                                        {% if casoprueba.resultado == "Sin Probar" %}
                                        <div class="card card-body bg-info text-center">
                                            <h3>{{casoprueba.resultado}}</h3>
                                        </div>
                                        {% elif casoprueba.resultado == "Aprobado" %}
                                        <div class="card card-body bg-success text-center">
                                            <h3>{{casoprueba.resultado}}</h3>
                                        </div>
                                        {% elif casoprueba.resultado == "No Aprobado" %}
                                        <div class="card card-body bg-warning text-center">
                                            <h3>{{casoprueba.resultado}}</h3>
                                        </div>
                                        {% elif casoprueba.resultado == "Con Impedimentos" %}
                                        <div class="card card-body bg-danger text-center">
                                            <h3>{{casoprueba.resultado}}</h3>
                                        </div>
                                        {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <h3>Ultima fecha de prueba</h3>
                                    </div>
                                        <div class="card card-body text-center">
                                            <h3>{{casoprueba.fecha_prueba}}</h3>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
                                        <h3>Observaciones</h3>
                                    </div>
                                        <div class="card card-body text-center">
                                            <p>{{casoprueba.observaciones}}</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container-fluid row-margin-40"></div>
    </div>
{% endblock %}