{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'guiones' modulo.id%}" >Guiones</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalleg' guion.id%}" >{{guion.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detallecp' casoprueba.id %}" >{{casoprueba.titulo}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle_resultado' resultado.id %}" >Resultado: {{resultado.fecha}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{defecto.titulo}}
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown dropleft">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Opciones</a>
			<div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'actualizar_defecto' defecto.id%}">Editar</a>
                <a class="dropdown-item" href="{% url 'borrar_defecto' defecto.id%}">Eliminar</a>
			</div>
		</li>
    </ul>
    </div>
  </nav>
<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>Defecto: {{defecto.titulo}}</h1>      
      </div>
    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Información general <img src={% static 'open-iconic/png/caret-bottom-8x.png' url%} height=15  class="d-inline-block alighn-top"/></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="table-responsive row-margin-20">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">Aspecto</th>
                                  <th scope="col">Valor</th>
                                </tr>
                              </thead>
        
                              <tbody>
                                <tr>
                                    <th scope="row">Estado</th>          
                                    {% if defecto.estado == "Notificado" %}
                                    <td class="table-info">
                                        {{defecto.estado}}
                                    </td>
                                    {% elif defecto.estado == "Liberado por QA" %}
                                    <td class="table-success">
                                        {{defecto.estado}}
                                    </td>
                                    {% elif defecto.estado == "No Notificado" %}
                                    <td class="table-secondary">
                                        {{defecto.estado}}
                                    </td>
                                    {% elif defecto.estado == "Replicado" %}
                                    <td class="table-warning">
                                        {{defecto.estado}}
                                    </td>
                                    {% elif defecto.estado == "En Liberacion" %}
                                    <td class="table-primary">
                                        {{defecto.estado}}
                                    </td>
                                    {% endif %}
                                  </tr>
                                <tr>
                                  <th scope="row">Tipo de Defecto</th>
                                  <td>
                                    {{defecto.tipo_defecto}}
                                  </td>
            
                                </tr>
                                <tr>
                                    <th scope="row">Prioridad</th>
                                    {% if defecto.prioridad == "Alta" %}
                                    <td class="table-danger">
                                        {{defecto.prioridad}}
                                    </td>
                                    {% elif defecto.prioridad == "Media" %}
                                    <td class="table-warning">
                                        {{defecto.prioridad}}
                                    </td>
                                    {% elif defecto.prioridad == "Baja" %}
                                    <td class="table-primary">
                                        {{defecto.prioridad}}
                                    </td>                                            
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">Descripcción</th>
                                    <td>
                                        {{defecto.descripcion}}
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <th scope="row">Evidencia</th>
                                    {% if  defecto.evidencia%}
                                    <td>
                                        <img src="{{defecto.evidencia.url}}" class="img-fluid" width="720"/>
                                    </td>
                                {% else %}
                                <td>
                                    Sin evidencia
                                </td>     
                                {% endif %}  
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}