{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Guiones
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		<li class="nav-item">
            <a href="{% url 'alta_guion' modulo.id %}" class="nav-link">Crear Guion</a>
		</li>
    </ul>
    </div>
  </nav>
<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>GUIONES DE PRUEBAS</h1>      
      </div>
<!-- Search Code -->
<div class="row">
    <div class="col-md-5">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input type="search" name="item_name" placeholder="Buscar guion de pruebas" class="form-control form-control-borderless">
                </div>
                <div class="col-auto">
                    <button class="btn btn-dark" type="submit">Buscar por nombre</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <select name="estado" id="estado" class="form-control"><br>
                        <option value="" selected disabled hidden>Selecciona estado de guión</option>
                            <option value="">Todos</option>
                            <option value="Liberado">Liberado</option>
                            <option value="No liberado">No liberado</option>
                    </select>
                    <!-- <input type="search" name="item_name" placeholder="Buscar suite" class="form-control form-control-borderless"> -->
                </div>
                <div class="col-auto">
                    <button class="btn btn-dark" type="submit">Buscar por estado</button>
                </div>
            </div>
        </form>
    </div>

</div>
<!--END Search Code -->

<div class="col-md-12 row-margin-20">
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Guión</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for guion in guion_objects %}
                {% if guion.estado == "Liberado" %}
                <tr class="table-success">
                    <td>
                        {{guion.nombre}}
                    </td>
                    <td>
                        {{guion.estado}}
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a data-toggle="tooltip" href="{% url 'detalleg' guion.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'actualizarg' guion.id %}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'borrarg' guion.id %}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                        </div>
                    </td>
                </tr>
                {% elif guion.estado == "No liberado" %}
                <tr class="table-info">
                    <td>
                        {{guion.nombre}}
                    </td>
                    <td>
                        {{guion.estado}}
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a data-toggle="tooltip" href="{% url 'detalleg' guion.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'actualizarg' guion.id %}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{% url 'borrarg' guion.id %}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<!-- Proyecto Objects -->
<!-- {% for guion in guion_objects %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-8" onclick="window.location='{% url 'detalleg' guion.id%}';" style="cursor: pointer;">
                <h2>{{guion.nombre}}</h2>
                <h5><i><b>{{guion.estado}}</b></i></h5>
                
            </div>
        </div>
    </div>
{% endfor %} -->
<!-- END Proyecto Objects -->

        <!-- Pagination -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <nav class="pagination-sm">
                        <ul class="pagination">
                            {% if guion_objects.has_previous %}
                            <li class="page-item">
                                <a class="btn btn-dark" href="?page={{ guion_objects.previous_page_number }}">Anterior</a>
                            </li>
                            {% endif %}
                            <li class="page-item active">
                                <a class="btn btn-dark" href="?page={{ guion_objects.number }}" style="pointer-events: none">Pagina Actual</a>
                            </li>
                            {% if guion_objects.has_next %}
                            <li class="page-item">
                                <a class="btn btn-dark" href="?page={{ guion_objects.next_page_number }}">Siguiente</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <!-- END Pagination -->
        <div class="container-fluid row-margin-20"></div>
</div>
{% endblock %}
