{% extends 'base.html' %}

{% block body%}
<br class="container-fluid">
	<div class="px-4 py-1 my-5 text-center">
		<h1>
			Regex
		</h1>
    </div>
    
    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                    <div class="row row-margin-10">
                        <div class="col-md-12">
                            <div class="row row-margin-10">
                                <div class="col-md-3">
                                    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapsetitulo">Titulo</a></h3>
                                    </div>
                                    <div class="collapse" id="collapsetitulo">
                                        <div class="card card-body">
                                            <ol>{%for x in titulo%}
                                                <li class="list-item">
                                                    {{x}}
                                                </li>
                                                {%endfor%}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseEntradas">Entradas</a></h3>
                                    </div>
                                    <div class="collapse" id="collapseEntradas">
                                        <div class="card card-body">
                                            <ol>{%for entrada in entradas%}
                                                <li class="list-item">
                                                    {{entrada}}
                                                </li>
                                                {%endfor%}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseSalidas">Salidas</a></h3>
                                    </div>

                                    <div class="collapse" id="collapseSalidas">
                                        <div class="card card-body">
                                            <ol>{%for salida in salidas%}
                                                <li class="list-item">
                                                    {{salida}}
                                                </li>
                                                {%endfor%}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                        <h3><a data-toggle="collapse" href="#collapseDestinos">Destinos</a></h3>
                                    </div>

                                    <div class="collapse" id="collapseDestinos">
                                        <div class="card card-body">
                                            <ol>{%for destino in destinos%}
                                                <li class="list-item">
                                                    {{destino}}
                                                </li>
                                                {%endfor%}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-margin-10">
                        <div class="col-md-12">
                            <div class="row">
                                    <div class="col-md-4">
                                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                            <h3><a data-toggle="collapse" href="#collapseTrayPrin">Trayectoria Principal</a></h3>
                                        </div>
                                        <div class="collapse" id="collapseTrayPrin">
                                            <div class="card card-body">
                                                {% for titulo, valor in tray_prin_dic.items%} 
                                                <ol>{%for x in valor %}
                                                    <li class="list-item">
                                                        {{x}}
                                                    </li>
                                                    {%endfor%}
                                                </ol>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                            <h3><a data-toggle="collapse" href="#collapseTrayAlt">Trayectorias Alternativas</a></h3>
                                        </div>
                                        <div class="collapse" id="collapseTrayAlt">
                                            <div class="card card-body">
                                                {% for titulo, valor in tray_alt_dic.items%} 
                                                <a data-toggle="collapse" href="#collapseTrayAlt{{ forloop.counter }}" data-target="#collapseTrayAlt{{ forloop.counter }}" >{{titulo}}</a>
                                                <div class="collapse" id="collapseTrayAlt{{ forloop.counter }}">
                                                    <div class="card card-body">
                                                        <ol>{%for x in valor %}
                                                            <li class="list-item">
                                                                {{x}}
                                                            </li>
                                                            {%endfor%}
                                                        </ol>
                                                    </div>
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                            <h3><a data-toggle="collapse" href="#collapseErrores">Errores</a></h3>
                                        </div>

                                        <div class="collapse" id="collapseErrores">
                                            <div class="card card-body">
                                                {% for nombre, error in err_dic.items%}
                                                <a data-toggle="collapse" href="#collapseErr{{ forloop.counter }}" data-target="#collapseErr{{ forloop.counter }}">{{nombre}}</a>
                                                <div class="collapse" id="collapseErr{{ forloop.counter }}">
                                                    <div class="card card-body">
                                                        <ol>{%for y in error %}
                                                            <li class="list-item">
                                                                {{y}}
                                                            </li>
                                                            {%endfor%}
                                                        </ol>
                                                    </div>
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="px-4 py-5 my-5 text-center">
        <h3 class="display-5 fw-bold">Confirma que desea subir la información al sistema encontrada en el archivo ingresado</h3>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Confirmar">
                                <button type="submit" class="btn btn-dark">Confirmar</button>
                            </div>
                            <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                <button type="submit" formaction="{% url 'bajabase' modulo.id%}" class="btn btn-dark btn-sm">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
