.breadcrumb {
    margin-bottom: 0;
    background-color: #f8f9fa;
}

.breadcrumb li a {
    color: black;
    font-weight: 800;
}

.pagination {
    position: fixed;
    bottom: 30px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

table.table td a {
    /* color: #a0a5b1; */
    display: inline-block;
    margin: 0 7px;
}

a {
    color: black;
    font-weight: 800;
}

body {
    background-color: #fff;
}

.carousel {
    margin-top: 100px;
}

.carousel-inner {
    height: 200px;
}

.carousel-caption {
    color: #000;
    top: 50%;
}

/* START OF Change the font/size/color of the Slider Titles */
/* Change Slider Titles (2em) font-size, (Garamond) family, (red) color */
/* Title text */
.carousel-caption h3 {
    font-family: Helvetica;
    font-size: 2em;
    color: black;
}

/* Description text */
.carousel-caption p {
    font-family: Helvetica;
    font-size: 1em;
    color: gray !important;
}

/* Button text */
.carousel-caption .btn {
    font-family: Helvetica;
    font-size: 1em;
    color: black;
}

/* END OF Change the font/size/color of the Slider Titles */

/* CAROUSEL ICON FOR PREVIOUS AND NEXT */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 50%, 50%;
    border-radius: 50%;
    border: 1px transparent black;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: gray;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: gray;
}

/* CAROUSEL ICON FOR PREVIOUS AND NEXT */

.my-slider .carousel-indicators {
    top: 10px;
    justify-content: flex-start;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: black;
    opacity: 1;
    border: 0;
}

.carousel-indicators li.active {
    background-color: gray;
}

.carousel-indicators li:not(:last-child) {
    margin-right: 20px;
}