{% extends 'base.html' %}

{% block body%}
{% load crispy_forms_tags %}
<div class="container pt-3">
    <div class = "row">
        <div class = "col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Inicio sesión
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {%for field in form%}
                        <div class="form-group">
                            {{ field.name}}
                        </br>
                            {{ field }}
                        </br>
                        </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-dark mx-auto d-block">Iniciar sesión</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>


{% endblock %}

