{% extends 'base.html' %}


    {% block body %}

    <div class="container text-center pt-3">
        <h1 class="mt-5 text-black font-weight-light">Has cerrado sesión exitosamente</h1>
        <h2 class="lead text-black-50">Vuelve pronto!!</h2>
      </div>

    {% endblock %}