{% extends 'base.html' %}


    {% block body %}

    <section class="text-center">
        <div class="container pt-3">
          <h1>PERFIL</h1>
          <p class="lead text-muted">
            <h2>{{ user.username }}</h2>
            
            {% for group in groups  %}
            <h3>{{group}}</h3>
              
            {% endfor %}
              
          </p>
          <img class="img-fluid" src="{{ user.profile.image.url }}" height="300" />
        </div>
      </section>

    {% endblock %}