{% extends 'base.html' %}

{% block body%}
<div class="container">
    <div class="px-4 py-1 my-5 text-center">
        <h1 class="display-5 fw-bold">ACTUALIZAR DE TEST SUITE</h1>
    </div>
    <div class = "row">
        <div class = "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Actualizar Test Suite
                    </div>
                </div>
                <div class="card-body">

                    <form action="{% url 'actualizar_suite' suite.id%}" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="titulo">Titulo de Test Suite</label><br>
                                <input type="text" class="form-control" name="titulo" id="titulo" class="form-control" maxlength="150" value="{{suite.titulo_suite}}" required>
                                <label for="fecha">Fecha de pruebas de Test Suite</label><br>
                                <!-- <input type="date" id="fecha" name="fecha" class="form-control" value="2018-07-22" required><br> -->
                                <input type="date" id="fecha" name="fecha" class="form-control" value="{{suite.fecha}}" required><br>
                                <label for="tester">Tester asignado para realizar las pruebas</label><br>
                                <select name="tester" id="tester" class="form-control" required><br>
                                    <option value="" selected disabled hidden>Selecciona tester asignado</option>
                                    {% for usuario in user_lists%}
                                    
                                    {% if suite.tester == usuario %}
                                        <option value="{{usuario}}" selected>{{usuario}}</option>
                                        {% else %}
                                        <option value="{{usuario}}">{{usuario}}</option>
                                    {% endif %}
                                    {%endfor%}
                                </select>
                                <label for="notas">Notas Adicionales</label><br>
                                <input type="text" class="form-control" name="notas" id="notas" value="{{suite.notas}}" class="form-control"><br>

                                <input type="hidden" name="acceso" value="0"/>
                                <input type="checkbox" class="form-check-input" id="acceso" name="acceso" value="1" onclick="accesoReq()" >
                                <label for="acceso" class="form-check-label">Agregar datos entorno de pruebas (Servidor)</label><br>
                                <div id="accesos" style="display: none;">
                                    <label for="direccion">Direccion del entorno de pruebas</label><br>
                                    <input type="text" class="form-control" name="direccion" id="direccion" maxlength="150" value="{{suite.entorno_servidor}}" class="form-control">
                                    <label for="Usuario">Usuario</label><br>
                                    <input type="text" class="form-control" name="usuario" id="usuario" class="form-control" value="{{suite.usuario_acceso}}" maxlength="150">
                                    <label for="Contrasena">Contraseña</label><br>
                                    <input type="text" class="form-control" name="contrasena" id="contrasena" class="form-control" value="{{suite.contrasena_acceso}}" maxlength="150">
                                </div>
                                <input type="hidden" name="entorno" value="0"/>
                                <input type="checkbox" class="form-check-input" id="entorno" name="entorno" value="1" onclick="entornoReq()" >
                                <label for="entorno" class="form-check-label">Agregar datos sobre equipo de pruebas</label><br>
                                <div id="entornop" style="display: none;">
                                    <label for="RAM">RAM del equipo</label><br>
                                    <input type="text" class="form-control" name="ram" id="ram" value="{{suite.ram_equipo}}" class="form-control">
                                    <label for="Procesador">Procesador del equipo</label><br>
                                    <input type="text" class="form-control" name="procesador" id="procesador" value="{{suite.procesador_equipo}}" class="form-control">
                                    <label for="SO">Sistema Operativo</label><br>
                                    <input type="text" class="form-control" name="sisope" id="sisope" value="{{suite.so_equipo}}" class="form-control">
                                    <label for="Disco">Capacidad de Disco Duro</label><br>
                                    <input type="text" class="form-control" name="discod" id="discod" value="{{suite.capacidad_equipo}}" class="form-control">
                                    <label for="Resolucion">Resolución de la pantalla del equipo</label><br>
                                    <input type="text" class="form-control" name="resolucion" id="resolucion" value="{{suite.resolucion_equipo}}" class="form-control">
                                </div>

                            </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                    <button type="submit" class="btn btn-dark btn-lg px-4 me-sm-3">Actualizar</button>
                                </div>
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                    <a href="{% url 'detalle_suite' suite.id%}" class="btn btn-dark btn-sm">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div> 
    <div class="container-fluid row-margin-40"></div>
</div> 
<script>
    function accesoReq() {
        var checkBox = document.getElementById('acceso');
        var div = document.getElementById('accesos');
        if (checkBox.checked == true) {
            div.style.display = "block";
            document.getElementById('direccion').setAttribute("required", "");
            document.getElementById('usuario').setAttribute("required", "");
            document.getElementById('contrasena').setAttribute("required", "");
        } else {
            div.style.display = "none";
            document.getElementById('direccion').removeAttribute("required");
            document.getElementById('usuario').removeAttribute("required"); 
            document.getElementById('contrasena').removeAttribute("required"); 
        }
    }
</script>
<script>
    function entornoReq() {
        var checkBox2 = document.getElementById('entorno');
        var div2 = document.getElementById('entornop');
        if (checkBox2.checked == true) {
            div2.style.display = "block";
            document.getElementById('ram').setAttribute("required", "");
            document.getElementById('procesador').setAttribute("required", "");
            document.getElementById('sisope').setAttribute("required", "");
            document.getElementById('discod').setAttribute("required", "");
            document.getElementById('resolucion').setAttribute("required", "");
        } else {
            div2.style.display = "none";
            document.getElementById('ram').removeAttribute("required");
            document.getElementById('procesador').removeAttribute("required"); 
            document.getElementById('sisope').removeAttribute("required"); 
            document.getElementById('discod').removeAttribute("required");
            document.getElementById('resolucion').removeAttribute("required"); 
        }
    }
</script>
{% endblock %}