{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary"  href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary"  href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary"  href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary"  href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary"  href="{% url 'index_suites' modulo.id%}">Test Suites</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{suite.titulo_suite}}
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown dropleft">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Opciones</a>
			<div class="dropdown-menu">
                <a class="dropdown-item" href="{%url 'actualizar_suite' suite.id%}">Editar</a>
                <a class="dropdown-item" href="{%url 'borrar_suite' suite.id%}">Eliminar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{%url 'agregar_pruebas' suite.id%}">Agregar Pruebas</a>
                <a class="dropdown-item" href="{%url 'quitar_pruebas' suite.id%}">Quitar Pruebas</a>
			</div>
		</li>
    </ul>
    </div>
  </nav>
<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>Suite de Pruebas: <b><small>{{suite.titulo_suite}}</h1>      
      </div>

    <!-- <div class="container-fluid">
        <div class="col-md-2 offset-md-10">
                <div class="dropdown">
                    <button class="btn btn-dark btn-sm px-4 me-sm-3 btn-block dropdown-toggle" type="button" id="Options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Options">
                      <a class="dropdown-item" href="{%url 'actualizar_suite' suite.id%}">Editar</a>
                      <a class="dropdown-item" href="{%url 'borrar_suite' suite.id%}">Eliminar</a>
                      <a class="dropdown-item" href="{%url 'agregar_pruebas' suite.id%}">Agregar Pruebas</a>
                      <a class="dropdown-item" href="{%url 'quitar_pruebas' suite.id%}">Quitar Pruebas</a>
                    </div>
                  </div>
            </div>
    </div> -->

    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Información General  <img src={% static 'open-iconic/png/caret-bottom-8x.png' url%} height=15  class="d-inline-block alighn-top"/></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">Aspecto</th>
                                  <th scope="col">Valor</th>
            
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Fecha de inicio de ejecución:</th>
                                  <td>{{suite.fecha}}</td>
            
                                </tr>
                                <tr>
                                  <th scope="row">Entorno de prueba (Servidor):</th>
            
                                  <td>
                                    {% if  suite.entorno_servidor%}
                                    {{suite.entorno_servidor}}
                                {% else %}
                                Sin Registro<br>
                                {%endif%}
                                </td>
                                </tr>
                                <tr>
                                    <th scope="row">Datos de sesión:</th>
                                    <td>
                                    {% if  suite.usuario_acceso%}
                                        Usuario : {{suite.usuario_acceso}}<br>
                                    {% else %}
                                        Usuario : Sin registro <br>
                                    {%endif%}
                                    {% if  suite.contrasena_acceso%}
                                        Contraseña : {{suite.contrasena_acceso}}<br>
                                    {% else %}
                                        Contraseña : Sin registro<br>
                                    {%endif%}
                                    </td>
                                </tr>
                                <tr>
                                <th scope="row">Entorno de prueba (Cliente):</th>
                                <td>
                                    {% if suite.ram_equipo %}
                                        RAM : {{suite.ram_equipo}}<br>
                                        {% else %}
                                        RAM : Sin registro<br>
                                    {% endif %}
            
                                    {% if suite.procesador_equipo %}
                                        Procesador : {{suite.procesador_equipo}}<br>
                                    {% else %}
                                        Procesador : Sin registro<br>
                                    {% endif %}
            
                                    {% if suite.so_equipo %}
                                        Sistema Operativo : {{suite.so_equipo}}<br>
                                    {% else %}
                                        Sistema Operativo : Sin registro<br>
                                    {% endif %}
            
                                    {% if suite.capacidad_equipo %}
                                        Capacidadd Equipo : {{suite.capacidad_equipo}}<br>
                                    {% else %}
                                        Capacidadd Equipo : Sin registro<br>
                                    {% endif %}
            
                                    {% if suite.resolucion_equipo %}
                                        Resolución de Pantalla : {{suite.resolucion_equipo}}<br>
                                    {% else %}
                                        Resolución de Pantalla : Sin registro<br>
                                    {% endif %}
                                </td>
                                </tr>
                                <tr>
                                    <th scope="row">Tester:</th>
                                    <td>{{suite.tester}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Guiones de Pruebas en Test Suite:</th>
                                    <td>
                                        
                                        {% for guion in guion_objects %}
                                        {{guion.nombre}}<br>
                                        {% endfor %}
                                            
                                        
            
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
                </div>
            </div>

</div>

    <div class="container-fluid row-margin-20">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseCP">Pruebas <img src={% static 'open-iconic/png/caret-bottom-8x.png' url%} height=15  class="d-inline-block alighn-top"/></a>
                    </h4>
                </div>

                <div id="collapseCP" class="panel-collapse collapse">
                    <div class="container-fluid row-margin-20">
                <!-- Search Code -->
                <div class="row">
                    <div class="col-md-11">
                        <form class="card card-sm">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col">
                                    <select name="estado" id="estado" class="form-control"><br>
                                        <option value="" selected disabled hidden>Selecciona estado de prueba</option>
                                            <option value="">Todos</option>
                                            <option value="Sin Probar">Sin Probar</option>
                                            <option value="Aprobado">Aprobado</option>
                                            <option value="No Aprobado">No Aprobado</option>
                                            <option value="Con Impedimentos">Con Impedimentos</option>
                                            
                                    </select>
                                    <!-- <input type="search" name="item_name" placeholder="Buscar suite" class="form-control form-control-borderless"> -->
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-dark" type="submit">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--END Search Code -->
        <div class="col-md-12 row-margin-20">
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Guión de Pruebas
                            </th>
                            <th>
                                Titulo Prueba
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Fecha ultima prueba
                            </th>
                            <th>
                                Detalle
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cp in cp_objects %}
                        {% if cp.resultado == "Sin Probar" %}
                        <tr class="table-info">
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{cp.guion.nombre}}
                            </td>
                            <td>
                                {{cp.titulo}}
                            </td>
                            <td>
                                {{cp.resultado}}
                            </td>
                            <td>
                                {% if cp.fecha_ult%}
                                {{cp.fecha_ult}}
                                {%else%}
                                -----
                                {%endif%}
                            </td>
                            <td>
                                <div class="table-data-feature">
                                    <a data-toggle="tooltip" href="{% url 'detallecp' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'actualizarcp' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'borrarcp' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                </div>
                            </td>
                        </tr>
                        {% elif cp.resultado == "Aprobado" %}
                        <tr class="table-success">
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{cp.guion.nombre}}
                            </td>
                            <td>
                                {{cp.titulo}}
                            </td>
                            <td>
                                {{cp.resultado}}
                            </td>
                            <td>
                                {% if cp.fecha_ult%}
                                {{cp.fecha_ult}}
                                {%else%}
                                -----
                                {%endif%}
                            </td>
                            <td>
                                <div class="table-data-feature">
                                    <a data-toggle="tooltip" href="{% url 'detallecp' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'actualizarcp' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'borrarcp' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                </div>
                            </td>
                        </tr>
                        {% elif cp.resultado == "No Aprobado" %}
                        <tr class="table-warning">
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{cp.guion.nombre}}
                            </td>
                            <td>
                                {{cp.titulo}}
                            </td>
                            <td>
                                {{cp.resultado}}
                            </td>
                            <td>
                                {% if cp.fecha_ult%}
                                {{cp.fecha_ult}}
                                {%else%}
                                -----
                                {%endif%}
                            </td>
                            <td>
                                <div class="table-data-feature">
                                    <a data-toggle="tooltip" href="{% url 'detallecp' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'actualizarcp' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'borrarcp' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                </div>
                            </td>
                        </tr>
                        {% elif cp.resultado == "Con Impedimentos" %}
                        <tr class="table-danger">
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{cp.guion.nombre}}
                            </td>
                            <td>
                                {{cp.titulo}}
                            </td>
                            <td>
                                {{cp.resultado}}
                            </td>
                            <td>
                                {% if cp.fecha_ult%}
                                {{cp.fecha_ult}}
                                {%else%}
                                -----
                                {%endif%}
                            </td>
                            <td>
                                <div class="table-data-feature">
                                    <a data-toggle="tooltip" href="{% url 'detallecp' cp.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'actualizarcp' cp.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                    <a data-toggle="tooltip" href="{% url 'borrarcp' cp.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                        <!-- {% for cp in cp_objects %}
                        <div class="container">
                            <div class="row pt-3">
                                    <div class="col-md-11" onclick="window.location='{% url 'detallecp' cp.id%}';" style="cursor: pointer;">
                                        {% if cp.resultado == "Sin Probar" %}
                                        <div class="card card-body bg-info text-center">
                                            <h3>{{cp.titulo}}</h3>
                                            <h5>{{cp.resultado}}</h5>
                                        </div>
                                        {% elif cp.resultado == "Aprobado" %}
                                        <div class="card card-body bg-success text-center">
                                            <h3>{{cp.titulo}}</h3>
                                            <h5>{{cp.resultado}}</h5>
                                        </div>
                                        {% elif cp.resultado == "No Aprobado" %}
                                        <div class="card card-body bg-warning text-center">
                                            <h3>{{cp.titulo}}</h3>
                                            <h5>{{cp.resultado}}</h5>
                                        </div>
                                        {% elif cp.resultado == "Con Impedimentos" %}
                                        <div class="card card-body bg-danger text-center">
                                            <h3>{{cp.titulo}}</h3>
                                            <h5>{{cp.resultado}}</h5>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid row-margin-40"></div>
    </div>

</div>
{% endblock %}
