{% extends 'base.html' %}
{% load static %}
{% block body%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggeler" aria-controls="navtoggeler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navtoggeler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" onclick="window.history.back()"><img src={% static 'open-iconic/png/arrow-circle-left-6x.png' url%} height=25  class="d-inline-block alighn-top"/> Regresar</a>
        </li>
        <li class="nav-item">
            <nav aria-label="breadcrumb">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'index' %}">Proyectos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'detalle' proyecto.id%}">{{proyecto.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulos' proyecto.id %}">Módulos</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-primary" href="{% url 'modulo_detalle' modulo.id%}">{{modulo.nombre}}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Test Suites
                        </li>
                    </ol>
                <!-- END breadcrumb -->
            </nav>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="{% url 'alta_suite' modulo.id%}" class="nav-link">Crear Suite</a>
        </li>
    </ul>
    </div>
  </nav>
<div class="container-fluid">
    <div class="page-header row-margin-10">
        <h1>SUITES DE PRUEBAS</h1>      
      </div>

<!-- Search Code -->
<div class="row">
    <div class="col-md-9">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input type="search" name="item_name" placeholder="Buscar suite" class="form-control form-control-borderless">
                </div>
                <div class="col-auto">
                    <button class="btn btn-dark" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--END Search Code -->

<div class="col-md-12 row-margin-20">
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Suite</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for suite in suite_objects %}
                <tr>
                    <td>
                        {{suite.titulo_suite}}
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a data-toggle="tooltip" href="{% url 'detalle_suite' suite.id%}"  title="Detalles"> <img src={% static 'open-iconic/png/eye-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{%url 'actualizar_suite' suite.id%}" title="Editar"> <img src={% static 'open-iconic/png/pencil-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                            <a data-toggle="tooltip" href="{%url 'borrar_suite' suite.id%}" title="Eliminar"> <img src={% static 'open-iconic/png/trash-4x.png' url%} height=20  class="d-inline-block alighn-top"/></a>
                        </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<!-- Proyecto Objects -->
<!-- {% for suite in suite_objects %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-6" onclick="window.location='{% url 'detalle_suite' suite.id%}';" style="cursor: pointer;">
                <h1>{{suite.titulo_suite}}</h1>
            </div>
        </div>
    </div>

{% endfor %} -->
<!-- END Proyecto Objects -->

        <!-- Pagination -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <nav class="pagination-sm">
                        <ul class="pagination">
                            {% if suite_objects.has_previous %}
                            <li class="page-item">
                                <a class="btn btn-dark" href="?page={{ suite_objects.previous_page_number }}">Anterior</a>
                            </li>
                            {% endif %}
                            <li class="page-item active">
                                <a class="btn btn-dark" href="?page={{ suite_objects.number }}" style="pointer-events: none">Pagina Actual</a>
                            </li>
                            {% if suite_objects.has_next %}
                            <li class="page-item">
                                <a class="btn btn-dark" href="?page={{ suite_objects.next_page_number }}">Siguiente</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="container-fluid row-margin-20"></div>
            </div>
        </div>
        <!-- END Pagination -->

</div>
{% endblock %}