{% extends 'base.html' %}


{% block body %}
<div class="form-group" id="readroot" style="display: none">
    <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Remover campo</button><br /><br />
    <!-- <input type="button" value="Remover prueba"
        onclick="this.parentNode.parentNode.removeChild(this.parentNode);" /><br /><br /> -->
        <label for="guion">Seleccionar el nombre del guion de pruebas</label><br>
        <select name="guion" id="guion" class="form-control" required><br>
            <option value="" selected disabled hidden>Selecciona la opción</option>
            {% for guion in suite_guiones%}
                <option value="{{guion}}">{{guion}}</option>
            {%endfor%}
        </select>
</div>
<div class="container">
    <div class="px-4 py-1 my-5 text-center">
        <h1 class="display-5 fw-bold">QUITAR PRUEBAS DE TEST SUITE</h1>
    </div>
    <div class = "row">
        <div class = "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="card-title">
                        Quitar Pruebas
                    </div>
                </div>
                <div class="card-body">
                    <form action="{% url 'quitar_pruebas' suite.id%}" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                <span id="writeroot"></span>
                                <!-- <input class="btn-group btn-group-sm mr-2" type="button" value="Agregar otra prueba" onclick="agregarPruebas()"/> -->
                                <button type="button" class="btn btn-dark btn-sm px-4 me-sm-3" onclick="agregarPruebas()">Agregar nuevo campo</button>
                            </div>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Crear">
                                    <button type="submit" class="btn btn-dark btn-lg px-4 me-sm-3">Actualizar</button>
                                </div>
                                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Cancelar">
                                    <a href="{% url 'detalle_suite' suite.id%}" class="btn btn-dark btn-sm">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid row-margin-40"></div>
</div>


<script>
var counter = 0;

function agregarPruebas() {
	counter++;
	var newFields = document.getElementById('readroot').cloneNode(true);
	newFields.id = '';
	newFields.style.display = 'block';
	var newField = newFields.childNodes;
	for (var i=0;i<newField.length;i++) {
		var theName = newField[i].name
		if (theName)
			newField[i].name = theName + counter;
	}
	var insertHere = document.getElementById('writeroot');
	insertHere.parentNode.insertBefore(newFields,insertHere);
}

window.onload = agregarPruebas;
    </script>

{% endblock %}